$primary-color : #12b2fc;
$main_text:rgb(12, 3, 95);
$timeline_color: #f3d4d6;
body{
    overflow-x: hidden !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.d-block{
    display: block;
}
#about{
    text-align: center;
    #particles-js {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image:
            linear-gradient(rgba(144, 167, 241, 0.6),
                rgba(255, 255, 255, 0.6)),
            url("./pictures/christopher-gower-m_HRfLhgABo-unsplash.jpg");
        background-position: center;
        background-size: cover;
    }

    .center-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1{
        color: $main_text;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80px;
        white-space: nowrap;
    }
    h2{
        margin-top: 20px;
        color:$main_text;
        font-size: 40px;
    }
    .my-info{
        width: 200px;
        cursor: pointer;
        position: absolute;
        left: 90%;
        top: 150px;
        &:hover .info-reveal{
        visibility: visible; 
        } 
        @media(max-width:732px){
            display: none;
        }
        .info-reveal{
            font-family:'Ma Shan Zheng', cursive; 
            font-weight: bold;
            border-radius: 5px;
            left: 150px;
            top: 100px;
            width: 200px;
            padding: 10px;
            position: absolute;
            visibility: hidden;
            text-align: left;
            background: white;
            color: black;
            @media(max-width:1128px){
                left: 0px;
                top: 300px;
            }
            @media(max-width:732px){
                display: none;
            }
        }
    }
}
#timeline{
    padding-bottom: 100px;
    background: $primary-color;
    .carrer_commits{
        height: 200px;
        background: #d1d1d6;
    }
    .red{
        color: red;
    }
    .link{
        width: 20px;
    }
    ul li {
        //時間線主軸
        list-style-type: none;
        position: relative;
        width: 5px;
        margin: 0 auto;
        padding-top: 50px;
        background: rgb(12, 3, 95);
        @media(max-width:990px){
            margin-left: 100px;
            padding-top: 100px;
        }
        @media(max-width:600px){
            margin-left: 80px;
            padding-top: 120px;
        }
        //時間線上的小球
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: inherit;
        }
        // 對話框通用性設定
        div{
            position: relative;
            bottom: 0;
            width: 400px;
            padding: 15px;
            background: $timeline_color;
            &::before {
                content: '';
                position: absolute;
                bottom: 7px;
                width: 0;
                height: 0;
                border-style: solid;
            };
            @media(max-width:600px){
                width: 300px;
            }
            @media(max-width:424px){
                width: 250px;
            }
            @media(max-width:404px){
                width: 150px;
            }
        }
        //奇數對話框
        &:nth-child(odd) 
            div {
                left: 45px;    
            //小箭頭
            &::before {
                left: -15px;
                border-width: 8px 16px 8px 0;
                border-color: transparent $timeline_color transparent transparent;
            }
        }
         //偶數對話框
        &:nth-child(even) 
            div {
                left: -440px;
                @media(max-width:990px){
                    left: 45px;  
                }    
                //小箭頭
            &::before {
                right: -15px;
                border-width: 8px 0 8px 16px;
                border-color: transparent transparent transparent $timeline_color;
                @media(max-width:990px){
                    left: -15px;
                    border-width: 8px 16px 8px 0;
                    border-color: transparent $timeline_color transparent transparent;
                }
            }       
        }
    }
    .text{
        color: rgb(12, 3, 95);
        font-weight: 600;
    }
    .time{
        display: block;
        padding: 10px 0 30px 0;
        font-size: 30px;
        color: brown;
    } 
    .text_small{
        font-size: 14px;
        padding-left: 10px;
        color: black;
    }
    .check{
        display: block;
        color: green;
        margin-left: 5px;
    }
    .commit{
        display: flex;
        align-items: center;
    }
}
#webDeve{
    padding-top: 300px;
    background: rgb(209, 209, 214);
    position: relative;
    .cloud{
        @media(max-width:340px){
            width: 100%;
        }
        position: absolute;
        width: 400px;
        height: 300px;
        background-image: url('./pictures/cloud-removebg-preview.png');
        background-size: cover;
        top: -3%;
        left: 50%;
        transform: translate(-50%);
        .cloud_main{
            position: relative;
        }
        .robot_img{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 0;
        }
    }
    .bg-img{
        background-image: url('./pictures/Word\ Art.png');
        background-attachment: fixed
    }
    .skill{
        position: relative;
        
    }
    .skill_mastery{
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
        h3{
            color: $primary-color;
            font-weight: 800;
            text-align: center;
        }
        .skill_text{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            span{
                display: block;
                padding: 10px 30px;
                margin: 0 20px;
                background:$primary-color;
                border-radius: 10px;
            }
            span:nth-child(1){
                color: black;
            }
            span:nth-child(2){
                color:blue;
            }
            span:nth-child(3){
                color:red;
            }
        }
    }
    .front-end-skill{
        .title{
            width: 250px;
            margin: 0 auto;
            padding: 20px 10px;
            border-radius: 10px;
            border: 2px solid green;
            background:  yellowgreen;;
            text-align: center;
            h3{
                font-size: 30px;
                color: blue;
                white-space: nowrap;
            }
        }
        .front_end_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 50px 0;
            li{
                background: yellowgreen;
                border: 2px solid green;
                color: black;
                width: 100px;
                padding: 20px 10px;
                margin: 20px;
                text-align: center;
                border-radius: 10px;
            }
        }
        
    }
    .back-end-skill{
        .title{
            width: 250px;
            margin: 0 auto;
            padding: 20px 10px;
            border-radius: 10px;
            border: 2px solid #17a2b8;
            background:  #17a2b8;
            text-align: center;
            h3{
                font-size: 30px;
                color: blue ;
                white-space: nowrap;
            }
        }
        .back_end_list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 50px 0;
            li{
                background: #17a2b8;
                border: 2px solid #17a2b8;
                color: black;
                width: 100px;
                padding: 20px 10px;
                margin: 20px;
                text-align: center;
                border-radius: 10px;
            }
        }
    }
    .cooperation{
        .title{
            width: 250px;
            margin: 0 auto;
            padding: 20px 10px;
            border-radius: 10px;
            border: 2px solid goldenrod;
            background:  goldenrod;
            text-align: center;
            h3{
                font-size: 30px;
                color: black;
                white-space: nowrap;
            }
        }
        .cooperation_list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 50px 0;
            li{
                background: goldenrod;;
                border: 2px solid goldenrod;;
                color: black;
                width: 100px;
                padding: 20px 10px;
                margin: 20px;
                text-align: center;
                border-radius: 10px;
            }
        }
        
    }
   
}
#project{
    width: 100%;
    padding: 100px 100px;
    @media(max-width:1024px){
        padding: 100px 60px;
    }
    @media(max-width:768px){
        padding: 100px 40px;
    }
    @media(max-width:425px){
        padding: 100px 20px;
    }
    background: $primary-color;
    .project_name{
        position: relative;
        background: whitesmoke;
        padding-left: 200px;
        border: 7.5px solid  #007bff;
        height: 60px;
        margin-bottom: 50px;
        @media(max-width:768px){
            width: 90%;
        }
    }
    //三角形
    .triangel_front_end{
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        width: 100%;
        height: 60px;
        .triangel_front,.triangel_end{
            width: 100px;
        }
    }
    .tri_top{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 50px 0;
        border-color: transparent #007bff transparent transparent;

    }
    .tri_bottom{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 50px 50px;
        border-color: transparent transparent #007bff transparent;
    }
    .triangel_front{
        position: relative;
        .tri_top,.tri_bottom{
            position: absolute;
        }
        .tri_top{
            top: -8px;
            left: -50px; 
        }
        .tri_bottom{
            left: -50px;
            bottom: 8px;
        }
    }
    .triangel_end{
        position: relative;
        .triangel{
            left: 100px;
            top: -10px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 32px 0 32px 100px;
            border-color: transparent transparent transparent #007bff;
            @media(max-width:1024px){
                top: -12px;
                border-width: 34px 0 34px 50px;
            }
            @media(max-width:768px){
                top: -28px;
                left: 80px;
                border-width: 50px 0 50px 100px;
            }
        }
    }
   .project-title{
       text-align: center;
       font-size: 50px;
       margin-bottom: 100px;
   }
    
    .Project{
        margin-bottom: 100px;
    }
    .text_large{
        font-size: 40px;
    }

    .title{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .team_project{
        &::after{
            content: '結訓專題';
            font-size: 16px;
        }
    }
    .my_project{
        &::after{
            content: '我的個人作品';
            font-size: 16px;
        }
    }
    .certification{
        &::after{
            content: '證書、研習與其他個人詳細經歷';
            font-size: 16px;
        }
    }
    //作品卡片
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 25%;
            padding: 0 10px;
            @media(max-width:1024px){
                width: 33.3%;
                padding: 0 20px;
            }
            @media(max-width:768px){
                width: 50%;
                padding: 0 40px;
            }
            @media(max-width:425px){
                width: 100%;
                padding: 0 40px;
            }
        }
        .card-img{
            img{
                width: 100%!important;
            }
        }
    }
    //彈跳式視窗設定
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}