@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.header {
  z-index: 999;
  width: 100%;
  position: fixed;
  border: 5px solid;
  border-radius: 2px;
  -o-border-image: linear-gradient(45deg, #4682b4, #b0c4de);
     border-image: linear-gradient(45deg, #4682b4, #b0c4de);
  background: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#b0c4de));
  background: linear-gradient(#4682b4, #b0c4de);
  -webkit-animation: huerotate 10s infinite linear;
          animation: huerotate 10s infinite linear;
}

.header .text_small {
  font-size: 12px;
}

@media (max-width: 747px) {
  .header {
    width: 100vw;
  }
}

@-webkit-keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(150deg);
            filter: hue-rotate(150deg);
  }
  100% {
    -webkit-filter: hue-rorate(240deg);
            filter: hue-rorate(240deg);
  }
}

@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(150deg);
            filter: hue-rotate(150deg);
  }
  100% {
    -webkit-filter: hue-rorate(240deg);
            filter: hue-rorate(240deg);
  }
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3%;
  background: black;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 2em;
}

.header .marquee h2 {
  line-height: 3vh;
  width: 100%;
  white-space: nowrap;
  color: yellowgreen;
  font-weight: bold;
  border-right: 1px solid yellowgreen;
  overflow: hidden;
  -webkit-animation: typing 3s steps(43, end), cursor-blink 0.3s step-end infinite alternate;
          animation: typing 3s steps(43, end), cursor-blink 0.3s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 1383px) {
  .header .marquee {
    position: absolute;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    top: 100px;
  }
  .header .marquee h2 {
    max-width: 600px;
  }
}

.header .nav-right .nav-item:hover {
  border-bottom: 2px solid black;
}

@media (max-width: 732px) {
  .header .nav-right {
    display: none;
  }
}

.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-item {
  height: 20px;
  margin-right: 30px;
}

.header .nav-item a {
  white-space: nowrap;
}

@media (max-width: 732px) {
  .header .nav-item {
    width: 100vw;
  }
}

.menu {
  position: absolute;
  top: 10%;
  left: -2%;
}

@media (max-width: 732px) {
  .menu {
    display: block;
    cursor: pointer;
  }
  .menu .nav-link {
    text-decoration: none;
    color: black;
  }
  .menu .dropdown {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .dropdown .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu .dropdown .form input {
    width: 200px;
  }
  .menu .dropdown .form .button {
    width: 50px;
  }
  .menu .dropdown .form .button .fa-bars {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .menu .dropdown .form .button .fa-bars.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu .dropdown .form button {
    border: none;
    padding: 20px 5px;
    background-color: lightcyan;
    border-radius: 5px;
    color: black;
    margin-left: 20px;
    cursor: pointer;
  }
  .menu .dropdown .form button:focus {
    outline: none;
  }
}

@media (max-width: 732px) and (max-width: 425px) {
  .menu .dropdown .form button {
    background: none;
  }
}

@media (max-width: 732px) {
  .menu .dropdown .dropdownList {
    display: none;
    background-color: aquamarine;
    opacity: 0.9;
    border: 2px solid black;
  }
  .menu .dropdown .dropdownList .nav-item {
    padding: 30px;
    border-bottom: 2px solid black;
  }
  .menu .dropdown .dropdownList .nav-link {
    padding: 30px 500px 30px 80px;
  }
}

body {
  overflow-x: hidden !important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-block {
  display: block;
}

#about {
  text-align: center;
}

#about #particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(144, 167, 241, 0.6)), to(rgba(255, 255, 255, 0.6))), url("./pictures/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-image: linear-gradient(rgba(144, 167, 241, 0.6), rgba(255, 255, 255, 0.6)), url("./pictures/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#about .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about h1 {
  color: #0c035f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  white-space: nowrap;
}

#about h2 {
  margin-top: 20px;
  color: #0c035f;
  font-size: 40px;
}

#about .my-info {
  width: 200px;
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 150px;
}

#about .my-info:hover .info-reveal {
  visibility: visible;
}

@media (max-width: 732px) {
  #about .my-info {
    display: none;
  }
}

#about .my-info .info-reveal {
  font-family: 'Ma Shan Zheng', cursive;
  font-weight: bold;
  border-radius: 5px;
  left: 150px;
  top: 100px;
  width: 200px;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  text-align: left;
  background: white;
  color: black;
}

@media (max-width: 1128px) {
  #about .my-info .info-reveal {
    left: 0px;
    top: 300px;
  }
}

@media (max-width: 732px) {
  #about .my-info .info-reveal {
    display: none;
  }
}

#timeline {
  padding-bottom: 100px;
  background: #12b2fc;
}

#timeline .carrer_commits {
  height: 200px;
  background: #d1d1d6;
}

#timeline .red {
  color: red;
}

#timeline .link {
  width: 20px;
}

#timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  margin: 0 auto;
  padding-top: 50px;
  background: #0c035f;
}

@media (max-width: 990px) {
  #timeline ul li {
    margin-left: 100px;
    padding-top: 100px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 80px;
    padding-top: 120px;
  }
}

#timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f3d4d6;
}

#timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

@media (max-width: 600px) {
  #timeline ul li div {
    width: 300px;
  }
}

@media (max-width: 424px) {
  #timeline ul li div {
    width: 250px;
  }
}

@media (max-width: 404px) {
  #timeline ul li div {
    width: 150px;
  }
}

#timeline ul li:nth-child(odd) div {
  left: 45px;
}

#timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f3d4d6 transparent transparent;
}

#timeline ul li:nth-child(even) div {
  left: -440px;
}

@media (max-width: 990px) {
  #timeline ul li:nth-child(even) div {
    left: 45px;
  }
}

#timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f3d4d6;
}

@media (max-width: 990px) {
  #timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f3d4d6 transparent transparent;
  }
}

#timeline .text {
  color: #0c035f;
  font-weight: 600;
}

#timeline .time {
  display: block;
  padding: 10px 0 30px 0;
  font-size: 30px;
  color: brown;
}

#timeline .text_small {
  font-size: 14px;
  padding-left: 10px;
  color: black;
}

#timeline .check {
  display: block;
  color: green;
  margin-left: 5px;
}

#timeline .commit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#webDeve {
  padding-top: 300px;
  background: #d1d1d6;
  position: relative;
}

#webDeve .cloud {
  position: absolute;
  width: 400px;
  height: 300px;
  background-image: url("./pictures/cloud-removebg-preview.png");
  background-size: cover;
  top: -3%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 340px) {
  #webDeve .cloud {
    width: 100%;
  }
}

#webDeve .cloud .cloud_main {
  position: relative;
}

#webDeve .cloud .robot_img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
}

#webDeve .bg-img {
  background-image: url("./pictures/Word Art.png");
  background-attachment: fixed;
}

#webDeve .skill {
  position: relative;
}

#webDeve .skill_mastery {
  position: absolute;
  top: -150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#webDeve .skill_mastery h3 {
  color: #12b2fc;
  font-weight: 800;
  text-align: center;
}

#webDeve .skill_mastery .skill_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

#webDeve .skill_mastery .skill_text span {
  display: block;
  padding: 10px 30px;
  margin: 0 20px;
  background: #12b2fc;
  border-radius: 10px;
}

#webDeve .skill_mastery .skill_text span:nth-child(1) {
  color: black;
}

#webDeve .skill_mastery .skill_text span:nth-child(2) {
  color: blue;
}

#webDeve .skill_mastery .skill_text span:nth-child(3) {
  color: red;
}

#webDeve .front-end-skill .title {
  width: 250px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid green;
  background: yellowgreen;
  text-align: center;
}

#webDeve .front-end-skill .title h3 {
  font-size: 30px;
  color: blue;
  white-space: nowrap;
}

#webDeve .front-end-skill .front_end_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

#webDeve .front-end-skill .front_end_list li {
  background: yellowgreen;
  border: 2px solid green;
  color: black;
  width: 100px;
  padding: 20px 10px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}

#webDeve .back-end-skill .title {
  width: 250px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid #17a2b8;
  background: #17a2b8;
  text-align: center;
}

#webDeve .back-end-skill .title h3 {
  font-size: 30px;
  color: blue;
  white-space: nowrap;
}

#webDeve .back-end-skill .back_end_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

#webDeve .back-end-skill .back_end_list li {
  background: #17a2b8;
  border: 2px solid #17a2b8;
  color: black;
  width: 100px;
  padding: 20px 10px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}

#webDeve .cooperation .title {
  width: 250px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid goldenrod;
  background: goldenrod;
  text-align: center;
}

#webDeve .cooperation .title h3 {
  font-size: 30px;
  color: black;
  white-space: nowrap;
}

#webDeve .cooperation .cooperation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

#webDeve .cooperation .cooperation_list li {
  background: goldenrod;
  border: 2px solid goldenrod;
  color: black;
  width: 100px;
  padding: 20px 10px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}

#project {
  width: 100%;
  padding: 100px 100px;
  background: #12b2fc;
  /* Modal Content */
  /* The Close Button */
}

@media (max-width: 1024px) {
  #project {
    padding: 100px 60px;
  }
}

@media (max-width: 768px) {
  #project {
    padding: 100px 40px;
  }
}

@media (max-width: 425px) {
  #project {
    padding: 100px 20px;
  }
}

#project .project_name {
  position: relative;
  background: whitesmoke;
  padding-left: 200px;
  border: 7.5px solid  #007bff;
  height: 60px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #project .project_name {
    width: 90%;
  }
}

#project .triangel_front_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
}

#project .triangel_front_end .triangel_front, #project .triangel_front_end .triangel_end {
  width: 100px;
}

#project .tri_top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #007bff transparent transparent;
}

#project .tri_bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #007bff transparent;
}

#project .triangel_front {
  position: relative;
}

#project .triangel_front .tri_top, #project .triangel_front .tri_bottom {
  position: absolute;
}

#project .triangel_front .tri_top {
  top: -7px;
  left: -50px;
}

#project .triangel_front .tri_bottom {
  left: -50px;
  bottom: 8px;
}

#project .triangel_end {
  position: relative;
}

#project .triangel_end .triangel {
  left: 100px;
  top: -10px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 0 32px 100px;
  border-color: transparent transparent transparent #007bff;
}

@media (max-width: 1024px) {
  #project .triangel_end .triangel {
    top: -12px;
    border-width: 34px 0 34px 50px;
  }
}

@media (max-width: 768px) {
  #project .triangel_end .triangel {
    top: -28px;
    left: 80px;
    border-width: 50px 0 50px 100px;
  }
}

#project .project-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

#project .Project {
  margin-bottom: 100px;
}

#project .text_large {
  font-size: 40px;
}

#project .title {
  font-size: 40px;
  margin-bottom: 50px;
}

#project .team_project::after {
  content: '結訓專題';
  font-size: 16px;
}

#project .my_project::after {
  content: '程式相關作品';
  font-size: 16px;
}

#project .certification::after {
  content: '證書、研習與其他個人詳細經歷';
  font-size: 16px;
}

#project .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#project .card-wrapper .card {
  width: 25%;
  padding: 10px 30px;
}

@media (max-width: 1024px) {
  #project .card-wrapper .card {
    width: 33.3%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  #project .card-wrapper .card {
    width: 50%;
    padding: 0 40px;
  }
}

@media (max-width: 425px) {
  #project .card-wrapper .card {
    width: 100%;
    padding: 0 40px;
  }
}

#project .card-wrapper .card-img img {
  width: 100% !important;
}

#project .all_pass_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #54BDAF;
  border: 10px solid  #F4BD72;
  border-radius: 20px;
}

#project .all_pass_title {
  font-size: 30px;
  margin-bottom: 20px;
}

#project .all_pass_project_card-text {
  padding: 20px 5px;
  width: 70%;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

#project .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#project .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  margin-top: 50px;
}

@media (max-width: 768px) {
  #project .modal-content {
    width: 80%;
  }
}

@media (max-width: 425px) {
  #project .modal-content {
    width: 90%;
  }
}

#project .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#project .close:hover,
#project .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#project .tutor_boss .certification .qa {
  background: #000;
}

#footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer p {
  font-size: 24px;
}

.header .logo {
  font-family: 'Ma Shan Zheng', cursive;
}
/*# sourceMappingURL=all.css.map */